In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("test").master("local[*]").getOrCreate()

# Loading CSV file

In [3]:
#format agnostic load method
spark.read.format("csv").option("header", True).option("inferschema", True)\
.load("../DataDummy/data/DataBricks_Training.csv").show()

+---+-------------------+-----+----------+-----------+--------+
| ID|               Name|  Fee|     Venue|       Date|Duration|
+---+-------------------+-----+----------+-----------+--------+
|  1|          HE Hadoop| 9000|    Mumbai|01-Aug-2018|       2|
|  2|           HE Spark| 7000|   Kolkata|04-Aug-2018|       3|
|  3|        HE SparkSQL| 6000| Hyderabad|07-Aug-2018|       4|
|  4|     HE Spark Graph| 6000|   Chennai|10-Aug-2018|       5|
|  5|HE Machine Learning|10000|    London|13-Aug-2018|       2|
|  6|    HE Data Science|12000|Washington|16-Aug-2018|       3|
|  7|            HE Java| 6000|    Navada|19-Aug-2018|       4|
|  8|           HE Scala| 6000|   Newyork|22-Aug-2018|       5|
|  9|          HE Python| 6000|    Sydney|25-Aug-2018|       2|
| 10|            HE Unix| 7000| Singapore|28-Aug-2018|       3|
| 11|             HE C++| 5000|      Pune|31-Aug-2018|       4|
| 12|  HE Data Structure| 4000| New Delhi|03-Sep-2018|       5|
| 13|     HE Web Service| 6000|  Yokohama|06-Sep-2018|       2|
| 14|HE Spring Framework| 8000|     Osaka|09-Sep-2018|       3|
| 15|       HE Hybernate| 7000|   Beijing|12-Sep-2018|       4|
| 16|             HE JPA| 7000| Hong Kong|15-Sep-2018|       5|
| 17|     HE Silverlight| 6000|  Shenzhen|18-Sep-2018|       2|
| 18|      HE Oracle DBA|10000|    Berlin|21-Sep-2018|       3|
| 19|    HE Oracle PLSQL| 6000|    Munich|24-Sep-2018|       4|
| 20|       HE Cassandra|10000| Frankfurt|27-Sep-2018|       5|
+---+-------------------+-----+----------+-----------+--------+
only showing top 20 rows

# Loading Json file

In [8]:
spark.read.format("json").option("header", True)\
.option("inferSchema", True).load("../DataDummy/data/he_data_1.json").show()

+--------+----+---+------+---------+
|duration| fee| id|  name|    venue|
+--------+----+---+------+---------+
|       5|6000|  1|Hadoop|     Lima|
|       4|5000|  2| Spark|     Puno|
|       3|4000|  3|Python|Cajamarca|
|       3|4000|  4| Scala| Tarapoto|
|       7|7000|  5| HBase| Arequipa|
+--------+----+---+------+---------+

# Loading CSV file From Text

In [10]:
df = spark.read.text("../DataDummy/data/DataBricks_Training.csv")
df.show()

+--------------------+
|               value|
+--------------------+
|ID,Name,Fee,Venue...|
|1,HE Hadoop,9000,...|
|2,HE Spark,7000,K...|
|3,HE SparkSQL,600...|
|4,HE Spark Graph,...|
|5,HE Machine Lear...|
|6,HE Data Science...|
|7,HE Java,6000,Na...|
|8,HE Scala,6000,N...|
|9,HE Python,6000,...|
|10,HE Unix,7000,S...|
|11,HE C++,5000,Pu...|
|12,HE Data Struct...|
|13,HE Web Service...|
|14,HE Spring Fram...|
|15,HE Hybernate,7...|
|16,HE JPA,7000,Ho...|
|17,HE Silverlight...|
|18,HE Oracle DBA,...|
|19,HE Oracle PLSQ...|
+--------------------+
only showing top 20 rows

In [13]:
from pyspark.sql.functions import split

In [16]:
df.withColumn("value", split("value", ",")).show(20, False)

+--------------------------------------------------------+
|value                                                   |
+--------------------------------------------------------+
|[ID, Name, Fee, Venue, Date, Duration]                  |
|[1, HE Hadoop, 9000, Mumbai, 01-Aug-2018, 2]            |
|[2, HE Spark, 7000, Kolkata, 04-Aug-2018, 3]            |
|[3, HE SparkSQL, 6000, Hyderabad, 07-Aug-2018, 4]       |
|[4, HE Spark Graph, 6000, Chennai, 10-Aug-2018, 5]      |
|[5, HE Machine Learning, 10000, London, 13-Aug-2018, 2] |
|[6, HE Data Science, 12000, Washington, 16-Aug-2018, 3] |
|[7, HE Java, 6000, Navada, 19-Aug-2018, 4]              |
|[8, HE Scala, 6000, Newyork, 22-Aug-2018, 5]            |
|[9, HE Python, 6000, Sydney, 25-Aug-2018, 2]            |
|[10, HE Unix, 7000, Singapore, 28-Aug-2018, 3]          |
|[11, HE C++, 5000, Pune, 31-Aug-2018, 4]                |
|[12, HE Data Structure, 4000, New Delhi, 03-Sep-2018, 5]|
|[13, HE Web Service, 6000, Yokohama, 06-Sep-2018, 2]    |
|[14, HE Spring Framework, 8000, Osaka, 09-Sep-2018, 3]  |
|[15, HE Hybernate, 7000, Beijing, 12-Sep-2018, 4]       |
|[16, HE JPA, 7000, Hong Kong, 15-Sep-2018, 5]           |
|[17, HE Silverlight, 6000, Shenzhen, 18-Sep-2018, 2]    |
|[18, HE Oracle DBA, 10000, Berlin, 21-Sep-2018, 3]      |
|[19, HE Oracle PLSQL, 6000, Munich, 24-Sep-2018, 4]     |
+--------------------------------------------------------+
only showing top 20 rows