In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("test").master("local[*]").getOrCreate()

In [7]:
data = [("Python", 8999),
        ("Scala", 2929)]

df = spark.createDataFrame(data).toDF("Language", "Fee")

In [8]:
df.show()

+--------+----+
|Language| Fee|
+--------+----+
|  Python|8999|
|   Scala|2929|
+--------+----+

In [9]:
df.write.mode("overwrite").parquet("tmp/test/key=1")

In [10]:
data = [
    ("Java", 9219, "Peru"),
    ("Cobol", 9999, "EEUU")
]
df2 = spark.createDataFrame(data).toDF("Language", "Fee", "Country")

In [11]:
df2.show()

+--------+----+-------+
|Language| Fee|Country|
+--------+----+-------+
|    Java|9219|   Peru|
|   Cobol|9999|   EEUU|
+--------+----+-------+

In [12]:
df2.write.mode("overwrite").parquet("tmp/test/key=2")

In [14]:
data = [
    ("C", 123123, "Colombia", "Anthony"),
    ("R", 81283, "UK", "Lia")
]
df3 = spark.createDataFrame(data).toDF("Language", "Fee", "Country", "Trainer")

In [15]:
df3.show()

+--------+------+--------+-------+
|Language|   Fee| Country|Trainer|
+--------+------+--------+-------+
|       C|123123|Colombia|Anthony|
|       R| 81283|      UK|    Lia|
+--------+------+--------+-------+

In [16]:
df3.write.mode("overwrite").parquet("tmp/test/key=3")

In [17]:
data = [
    ("Javascript",9332, "Wainer"),
    ("Switf", 912931, "Deybi")
]
df4 = spark.createDataFrame(data).toDF("Language", "Fee", "Trainer")

In [18]:
df4.show()

+----------+------+-------+
|  Language|   Fee|Trainer|
+----------+------+-------+
|Javascript|  9332| Wainer|
|     Switf|912931|  Deybi|
+----------+------+-------+

In [20]:
df4.write.mode("overwrite").parquet("tmp/test/key=4")

In [21]:
dfResult = spark.read.option("mergeSchema", True).parquet("tmp/test")

In [22]:
dfResult.show()

+----------+------+--------+-------+---+
|  Language|   Fee| Country|Trainer|key|
+----------+------+--------+-------+---+
|         C|123123|Colombia|Anthony|  3|
|         R| 81283|      UK|    Lia|  3|
|Javascript|  9332|    null| Wainer|  4|
|     Switf|912931|    null|  Deybi|  4|
|     Cobol|  9999|    EEUU|   null|  2|
|      Java|  9219|    Peru|   null|  2|
|    Python|  8999|    null|   null|  1|
|     Scala|  2929|    null|   null|  1|
+----------+------+--------+-------+---+

In [23]:
dfResult.printSchema()

root
 |-- Language: string (nullable = true)
 |-- Fee: long (nullable = true)
 |-- Country: string (nullable = true)
 |-- Trainer: string (nullable = true)
 |-- key: integer (nullable = true)