In [1]:
from pyspark.sql import Row, SparkSession

In [2]:
spark = SparkSession.builder.appName("test").master("local[*]").getOrCreate()

In [7]:
from pyspark.sql.types import StructType, StructField, StringType, LongType, DoubleType

In [8]:
#Create Schema for the JSON data
schema = StructType( [
  StructField("id", LongType(),False),
  StructField("name",StringType(),False),
  StructField("fee", DoubleType(),False),
  StructField("venue", StringType(),False), 
  StructField("Duration", LongType(),False)])

In [9]:
jsonDf = spark.read.format("json").schema(schema).load("../DataDummy/data/he_data_1.json")

In [11]:
jsonDf.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- fee: double (nullable = true)
 |-- venue: string (nullable = true)
 |-- Duration: long (nullable = true)

In [13]:
jsonDf.select("name", "fee" , "venue").where(jsonDf.fee > 5000).show()

+------+------+--------+
|  name|   fee|   venue|
+------+------+--------+
|Hadoop|6000.0|    Lima|
| HBase|7000.0|Arequipa|
+------+------+--------+