In [1]:
from pyspark.sql import Row, SparkSession

In [2]:
spark = SparkSession.builder.appName("test").master("local[*]").getOrCreate()

In [4]:
columns = Row("id", "name", "fee", "venue", "duration")

#Getting distinct rows from DataFrame
df = spark.sparkContext.parallelize([
    columns(1, "Hadoop", 6000, "Mumbai", 5),
    columns(2, "Spark", 5000, "Pune", 4),
    columns(3, "Python", 4000, "Hyderabad", 3),
    columns(4, "Scala", 4000, "Kolkata", 3),
    columns(5, "HBase", 7000, "Banglore", 7),
    columns(4, "Scala", 4000, "Kolkata", 3),
    columns(5, "HBase", 7000, "Banglore", 7),
    columns(11, "Scala", 4000, "Kolkata", 3),
    columns(12, "HBase", 7000, "Banglore", 7)]).toDF()

In [5]:
#Getting distinct values from DataFrame
df.distinct().show()

+---+------+----+---------+--------+
| id|  name| fee|    venue|duration|
+---+------+----+---------+--------+
|  4| Scala|4000|  Kolkata|       3|
| 11| Scala|4000|  Kolkata|       3|
|  1|Hadoop|6000|   Mumbai|       5|
|  2| Spark|5000|     Pune|       4|
| 12| HBase|7000| Banglore|       7|
|  5| HBase|7000| Banglore|       7|
|  3|Python|4000|Hyderabad|       3|
+---+------+----+---------+--------+

In [6]:
#Remove duplicates using selected columns
df.dropDuplicates(["name","fee","venue","duration"]).show()

+---+------+----+---------+--------+
| id|  name| fee|    venue|duration|
+---+------+----+---------+--------+
|  5| HBase|7000| Banglore|       7|
|  1|Hadoop|6000|   Mumbai|       5|
|  2| Spark|5000|     Pune|       4|
|  3|Python|4000|Hyderabad|       3|
|  4| Scala|4000|  Kolkata|       3|
+---+------+----+---------+--------+

In [8]:
df2= spark.sparkContext.parallelize([columns(1, "Hadoop", 6000, "Mumbai", 5),
                     columns(2, "Spark", 5000, "Pune", 4),
                     columns(3, "Python", 4000, "Hyderabad", 3)]).toDF()

In [11]:
df.exceptAll(df2).show()

+---+-----+----+--------+--------+
| id| name| fee|   venue|duration|
+---+-----+----+--------+--------+
| 12|HBase|7000|Banglore|       7|
| 11|Scala|4000| Kolkata|       3|
|  5|HBase|7000|Banglore|       7|
|  5|HBase|7000|Banglore|       7|
|  4|Scala|4000| Kolkata|       3|
|  4|Scala|4000| Kolkata|       3|
+---+-----+----+--------+--------+