In [1]:
from pyspark.sql import SparkSession, Row

In [2]:
spark = SparkSession.builder.appName("test").master("local[*]").getOrCreate()

In [3]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, IntegerType

In [4]:
schema= StructType([
    StructField("sr", IntegerType(), True), 
    StructField("phrase", StringType(), True), 
    StructField("title", StringType(), True), 
    StructField("url", StringType(), True), 
    StructField("year", IntegerType(), True), 
    StructField("month", IntegerType(), True), 
    StructField("day", IntegerType(), True), 
    StructField("fee", IntegerType(), True), 
])

In [14]:
rdd = spark.sparkContext.parallelize([
    Row(0, "Amazing", "Datastacks","https://www.data stax.com/", 2015,6,14,7000), 
    Row(1, "Amazing", "Cloudera","https://www.cloudera.com/",2010 ,8,29,9000), 
    Row(2,"Great", "Hortonworks","https://hortonworks.com/",2012, 3,23,8000), 
    Row(3,"Great","MapR","https://mapr.com/",2013, 2,27,6000), 
    Row(4,"Great","OuickTechie", "http://quicktechie.com/cs/",2008, 9,19,9000),
    Row(5,"Good","Acreshell","https://acmeshell.com",2004,11,18,110000),
    Row(6, "Awsome", "HadoopFXam", "http://www.hadoopexam.com /",2012,3,22,4000), 
    Row(7, "Amazing", "Databricks","https://databricks.com", 2014, 7,30,30000) 
])

In [15]:
df = spark.createDataFrame(rdd, schema)

In [16]:
df.show()

+---+-------+-----------+--------------------+----+-----+---+------+
| sr| phrase|      title|                 url|year|month|day|   fee|
+---+-------+-----------+--------------------+----+-----+---+------+
|  0|Amazing| Datastacks|https://www.data ...|2015|    6| 14|  7000|
|  1|Amazing|   Cloudera|https://www.cloud...|2010|    8| 29|  9000|
|  2|  Great|Hortonworks|https://hortonwor...|2012|    3| 23|  8000|
|  3|  Great|       MapR|   https://mapr.com/|2013|    2| 27|  6000|
|  4|  Great|OuickTechie|http://quicktechi...|2008|    9| 19|  9000|
|  5|   Good|  Acreshell|https://acmeshell...|2004|   11| 18|110000|
|  6| Awsome| HadoopFXam|http://www.hadoop...|2012|    3| 22|  4000|
|  7|Amazing| Databricks|https://databrick...|2014|    7| 30| 30000|
+---+-------+-----------+--------------------+----+-----+---+------+

In [18]:
df.where("fee >= 4000").where("fee < 9000").show()

+---+-------+-----------+--------------------+----+-----+---+----+
| sr| phrase|      title|                 url|year|month|day| fee|
+---+-------+-----------+--------------------+----+-----+---+----+
|  0|Amazing| Datastacks|https://www.data ...|2015|    6| 14|7000|
|  2|  Great|Hortonworks|https://hortonwor...|2012|    3| 23|8000|
|  3|  Great|       MapR|   https://mapr.com/|2013|    2| 27|6000|
|  6| Awsome| HadoopFXam|http://www.hadoop...|2012|    3| 22|4000|
+---+-------+-----------+--------------------+----+-----+---+----+

In [22]:
df.filter("fee >= 4000 and fee < 9000").show()

+---+-------+-----------+--------------------+----+-----+---+----+
| sr| phrase|      title|                 url|year|month|day| fee|
+---+-------+-----------+--------------------+----+-----+---+----+
|  0|Amazing| Datastacks|https://www.data ...|2015|    6| 14|7000|
|  2|  Great|Hortonworks|https://hortonwor...|2012|    3| 23|8000|
|  3|  Great|       MapR|   https://mapr.com/|2013|    2| 27|6000|
|  6| Awsome| HadoopFXam|http://www.hadoop...|2012|    3| 22|4000|
+---+-------+-----------+--------------------+----+-----+---+----+

In [24]:
df.createOrReplaceTempView("COURSE") 
courses = spark.sql("SELECT * FROM COURSE WHERE fee >= 4000 AND fee < 9000") 

courses.show()

+---+-------+-----------+--------------------+----+-----+---+----+
| sr| phrase|      title|                 url|year|month|day| fee|
+---+-------+-----------+--------------------+----+-----+---+----+
|  0|Amazing| Datastacks|https://www.data ...|2015|    6| 14|7000|
|  2|  Great|Hortonworks|https://hortonwor...|2012|    3| 23|8000|
|  3|  Great|       MapR|   https://mapr.com/|2013|    2| 27|6000|
|  6| Awsome| HadoopFXam|http://www.hadoop...|2012|    3| 22|4000|
+---+-------+-----------+--------------------+----+-----+---+----+