In [2]:
from pyspark.sql import SparkSession, Row

In [3]:
spark = SparkSession.builder.appName("test").master("local[*]").getOrCreate()

In [5]:
df = spark.read.json("data/question6.json")
df.show()

+------+------+
|  name|salary|
+------+------+
|  Amit|  3000|
|Rakesh|  4500|
| Jatin|  3500|
| Radha|  4000|
+------+------+

In [6]:
df.filter("salary>3500").show()

+------+------+
|  name|salary|
+------+------+
|Rakesh|  4500|
| Radha|  4000|
+------+------+