In [1]:
from pyspark.sql import SparkSession, Row

In [2]:
spark = SparkSession.builder.appName("test").master("local[*]").getOrCreate()

In [4]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, IntegerType

In [9]:
schema= StructType([
    StructField("sr", IntegerType(), True), 
    StructField("phrase", StringType(), True), 
    StructField("title", StringType(), True), 
    StructField("url", StringType(), True), 
    StructField("year", IntegerType(), True), 
    StructField("month", IntegerType(), True), 
    StructField("day", IntegerType(), True), 
    StructField("fee", IntegerType(), True), 
])

In [10]:
rdd =spark.sparkContext.parallelize([
    (0, "Amazing", "Datastacks","https://www.data stax.com/", 2015,6,14,7000), 
    (1, "Amazing", "Cloudera","https://www.cloudera.com/",2010 ,8,29,9000),
    (2,"Great", "Hortonworks","https://hortonworks.com/",2012, 3,23,8000), 
    (3,"Great","MapR","https://mapr.com/",2013, 2,27,6000), 
    (4, "Great", "OuickTechie", "http://quicktechie.com/cs/",2008, 9,19,9000),
    (5, "Good","Acreshell","https://acmeshell.com", 2004,11,18,10000), 
    (6, "Awsome", "HadoopFXam", "http://www.hadoopexam.com /",2012,3,22,4000),
    (7,"Amazing", "Databricks","https://databricks.com",2014, 7,30,30000)
])

In [12]:
df = spark.createDataFrame(rdd, schema)
df.show()

+---+-------+-----------+--------------------+----+-----+---+-----+
| sr| phrase|      title|                 url|year|month|day|  fee|
+---+-------+-----------+--------------------+----+-----+---+-----+
|  0|Amazing| Datastacks|https://www.data ...|2015|    6| 14| 7000|
|  1|Amazing|   Cloudera|https://www.cloud...|2010|    8| 29| 9000|
|  2|  Great|Hortonworks|https://hortonwor...|2012|    3| 23| 8000|
|  3|  Great|       MapR|   https://mapr.com/|2013|    2| 27| 6000|
|  4|  Great|OuickTechie|http://quicktechi...|2008|    9| 19| 9000|
|  5|   Good|  Acreshell|https://acmeshell...|2004|   11| 18|10000|
|  6| Awsome| HadoopFXam|http://www.hadoop...|2012|    3| 22| 4000|
|  7|Amazing| Databricks|https://databrick...|2014|    7| 30|30000|
+---+-------+-----------+--------------------+----+-----+---+-----+

In [14]:
from pyspark.sql.functions import desc

In [15]:
quuickTechieDF = df.groupBy("fee") 
quuickTechieCountDF = quuickTechieDF.count() 
quuickTechieCountDFSorted= quuickTechieCountDF.sort(desc("count")) 
quuickTechieTop5Fee=quuickTechieCountDFSorted.take(5)
quuickTechieTop5Fee

[Row(fee=9000, count=2),
 Row(fee=8000, count=1),
 Row(fee=30000, count=1),
 Row(fee=6000, count=1),
 Row(fee=4000, count=1)]

In [16]:
quuickTechieCountDFSorted.write.format("json").mode("overWrite").save("data/dataset1")