In [1]:
from pyspark.sql import SparkSession, Row

In [2]:
spark = SparkSession.builder.appName("test").master("local[*]").getOrCreate()

In [6]:
trip = spark.read.option("header", True).option("inferSchema",True).csv("data/trip.csv")
trip.show()

+------+---------+---------------+-------------+--------------+---------------+-----------+------------+-----+
|TripID| Duration|      StartDate| StartStation| StartTerminal|        EndDate| EndStation| EndTerminal| Bike|
+------+---------+---------------+-------------+--------------+---------------+-----------+------------+-----+
|   100|      101|3/31/2018 06:00|       Mumbai|            50|3/31/2018 13:00|       Pune|        70.0| 8708|
+------+---------+---------------+-------------+--------------+---------------+-----------+------------+-----+

In [7]:
trip.printSchema()

root
 |-- TripID: integer (nullable = true)
 |--  Duration: integer (nullable = true)
 |--  StartDate: string (nullable = true)
 |--  StartStation: string (nullable = true)
 |--  StartTerminal: integer (nullable = true)
 |--  EndDate: string (nullable = true)
 |--  EndStation: string (nullable = true)
 |--  EndTerminal: double (nullable = true)
 |--  Bike: integer (nullable = true)

In [9]:
station = spark.read.option("header", True).option("inferSchema",True).csv("data/station.csv")
station.show()
station.printSchema()

+----------+------+------+-------+----------+-------------------+--------------+
|station_id|  name|   lat|   long| dockcount|           landmark| installation |
+----------+------+------+-------+----------+-------------------+--------------+
|      1001|Mumbai|19.076|72.8777|        27|Opp Bandra Terminus|    01/01/2018|
+----------+------+------+-------+----------+-------------------+--------------+

root
 |-- station_id: integer (nullable = true)
 |--  name: string (nullable = true)
 |--  lat: double (nullable = true)
 |--  long: double (nullable = true)
 |--  dockcount: integer (nullable = true)
 |--  landmark: string (nullable = true)
 |--  installation : string (nullable = true)